/* Reset and Global Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Open Sans", sans-serif; */
  background-color: rgb(255, 255, 255);
}

ul {
  list-style: none;
}

/* Container Styling */
.container {
  width: 1200px; /* Set a fixed width */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive Layouts */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header Styling */
header {
  height: 60px;
  position: static;
  top: 0;
  z-index: 100;
}

.top {
  height: 40px;
  width: 100%;
}

header .container {
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
  position: sticky;
  top: 20;
  z-index: 1000;
}

header img {
  margin-left: -8px;
  margin-top: 14px;
  width: 100px;
  /* height: 102px; */
  z-index: 1000;
  position: absolute;
}

/* Navigation Bar Styling */
nav {
  width: 100%; /* Change from 100% to 100% to match the container width */
  margin-top: 20px;
  background-color: #121b25;
  color: #c4c4c4;
  font-weight: bold;
  position: static;
  left: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  /* padding-right: 80px; */
}

nav ul li {
  position: relative;
  /* Important for dropdown positioning */
  padding-right: 30px;
}

nav ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

nav ul li a:hover {
  background-color: #b40000;
  transition-duration: 300ms;
  transform: scale(1.1);
  padding: auto;
  margin: auto;
  border-radius: 5px;
}

/* Dropdown Menu Styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  color: rgb(255 255 255);
  padding: 14px 16px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-btn .arrow {
  display: none;
  font-size: 14px;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  /* Match dropdown background with nav background */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: rgb(5, 0, 0);
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  font-size: 22px;
}

.dropdown-content a:hover {
  background-color: #b40000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-btn {
  background-color: #b40000;
  /* Change color on hover */
}

/* Horizontal Scroll Container */
.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

.scroll-item {
  flex: none;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  scroll-snap-align: center;
  position: relative;
  transition: background-image 1s linear;
}

.scroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  padding: 10px;
  background-color: var(--secondary-color2);
  border-radius: 10px;
}

/* Styling for the top section */
.top {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255 255 255);
  position: relative;
  padding: 0px 0;
}

/* Footer Content Styling */
.top-content {
  /* text-align: end;
  align-items: end;
  align-content: end; */

  display: flex;
  justify-content: space-evenly;
  justify-items: flex-end;

  width: 100%;
  max-width: 800px;
  min-width: 200px;
  text-align: center;
  color: black;
}

.top-section {
  flex: 1;
  margin: 0 10px;
  padding-left: 100px;
}
.top-section-mail,
.top-section-call {
  /* display: inline-flex; */
  margin-top: 20px;
  gap: 10px;
  justify-items: center;
  justify-content: space-evenly;
}
.top-section-mail h3,
.top-section-call h3 {
  font-size: 16px;
  margin-bottom: -9px;
  text-align: center;
}

.top-section-mail p,
.top-section-call p {
  font-size: 14px;
  margin: 0;
}

.top-section-mail a,
.top-section-call a {
  color: #e5b010;
  text-align: center;
  /* Color for links */
  text-decoration: none;
}

.top-section a:hover {
  text-decoration: underline;
}

.AboAlaa {
  /* font-family: Arial, sans-serif; */
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.head-service-title{
  margin: 10px 0;
  height: 90px;
  display: grid;
  align-items: center;
}

.service-title h1,
.project-title h1 {
  /* font-family: "Cairo", sans-serif; */
  background-color: #ffffff;
  /* margin: 15px; */
  padding-top: 50px;

  font-size: 40px !important;
  text-align: center;
  /* font-style: italic; */
  font-size: -webkit-xxx-large;
}

.our-services {
  display: flex;
  justify-content: space-around;
  gap: 40px; /* Consistent gap between all items */
  padding: 5px;
  background-color: #fff;
  flex-wrap: wrap; /* Allows wrapping to the next line */
}

.service {
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: var(--shadow); /* Shadow with #010171 color */
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
  flex: 1 1 calc(33.33% - 20px); /* Adjust width to ensure space is consistent */
  margin: 10px 0; /* Consistent margin for all items */
}

.service img {
  width: 100%;
  height: 180px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.AboAlaa .height{
  height: 130px;
  display: grid;
  align-items: center;
}

.service h3 {
  font-size: 1.5em;
  color: var(--text-color);
}

.service p {
  color: #e3e3e3;
  padding: 0 20px;
}

.service .read-more {
  display: inline-block;
  margin: 20px 0;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.service:hover {
  transform: scale(105%);
  box-shadow: var(--shadow);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
}

/* Media Queries for Responsive Design */

/* For screens larger than 1200px */
@media (min-width: 1200px) {
  .our-services {
    justify-content: center;
  }
  .service {
    flex: 1 1 calc(20% - 20px); /* 5 items in a row */
  }
}

/* For screens between 768px and 1199px */
@media (min-width: 768px) and (max-width: 1199px) {
  .service {
    flex: 1 1 calc(33.33% - 20px); /* 3 items in a row */
  }
}

/* For screens less than 768px */
@media (max-width: 767px) {
  .service {
    flex: 1 1 calc(50% - 20px); /* 2 items in a row */
  }
}

/* For very small screens */
@media (max-width: 480px) {
  .service {
    flex: 1 1 100%; /* 1 item per row */
  }
}

/* ============ belal ================ */

.project-gallery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.filter-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-btn {
  background-color: #121b259b;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, padding 0.9s, box-shadow 0.9s;
  /* box-shadow: 0 4px 6px rgba(255, 255, 255, 0.463); */
  -webkit-transition: background-color 0.3s, padding 0.9s, box-shadow 0.9s;
  -moz-transition: background-color 0.3s, padding 0.9s, box-shadow 0.9s;
  -ms-transition: background-color 0.3s, padding 0.9s, box-shadow 0.9s;
  -o-transition: background-color 0.3s, padding 0.9s, box-shadow 0.9s;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: #fbae17;
  padding: 10px 50px;
  box-shadow: 3px 8px 30px hsla(0, 0%, 37%, 0.574);
}

.projects {
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project {
  background-color: #fbae17;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  margin-left: 20px;
  min-width: 250px;
  max-width: 350px;
  text-align: center;

  transition: transform 0.6s, box-shadow 0.3s;
  -webkit-transition: transform 0.6s, box-shadow 0.3s;
  -moz-transition: transform 0.6s, box-shadow 0.3s;
  -ms-transition: transform 0.6s, box-shadow 0.3s;
  -o-transition: transform 0.6s, box-shadow 0.3s;
}

.project:hover {
  transform: scale(110%);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}
.project .container {
  height: 200px;
  background-color: #eee;
  overflow: hidden;
}

.project .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  margin: 0;
  color: #ffffff;
  font-size: 1.5em;
}

.project-info p {
  margin: 10px 0 0;
  color: #d3d3d3;
  font-size: 1em;
}

:root {
  --primary-color: #121b25;
  --secondary-color: #fbae17;
  --secondary-color2: #121b258d;
  --background-color: #ffffff;
  --text-color: #ffffff;
  --link-color: #ffb700;
  --link-hover-color: #ff0000;
  --service-background-color: #ffffff;
  --project-background-color: #ffffff;
  --dropdown-background-color: #f9f9f9;
  --dropdown-hover-color: #f1f1f1;

  /* Font Size Variables */
  --font-size-base: 18px;
  --font-size-large: 24px;
  --font-size-small: 14px;

  /* Spacing Variables */
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;

  /* Other Variables */
  --container-width: 1200px;
  /* shadow */
  --shadow: 3px 8px 30px hsla(0, 0%, 37%, 0.574);
}
