
/* Abo 3laa */
.banner-3laa {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  color: white;
  padding: 220px 0;
  text-align: center;
  position: relative;
  background: conic-gradient(from 0deg at bottom left, #051c6d 0%, #000cb7 20%, 
  #005bd1 30%, #007a9b 40%, #4d056d 60%, #051c6d 71%);
}

.banner-3laa h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.page-wrap-3laa {
  
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px; /* Add padding to prevent content from touching the edges */
}

.page-wrap-3laa .outer-container {
  justify-content:space-around;
  align-items: center;
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1300px;
  background-color: #d19600; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the outer container */
  box-sizing: border-box;
}

.page-wrap-3laa .text-container {
  position: relative;
  width: 38%;
  padding: 27px; /* Add padding inside the box */
  background-color: #eee; /* Slightly lighter gray background */
  border-radius: 10px; /* Rounded corners */
  margin-right: 20px; /* Space between text and video */
  box-sizing: border-box;
}

.page-wrap-3laa .text-container p{
  line-height: 25px;
}

.page-wrap-3laa .banner-container {
  
  width: 40%; /* Adjusted width for the video container */
  min-width: 200px;
  box-sizing: border-box;
}

.page-wrap-3laa .video-container{
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  border-radius: 10px;
  overflow: hidden;
}

.page-wrap-3laa .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .page-wrap-3laa .outer-container {
      flex-direction: column; /* Stack the text and video vertically */
      height: 100%;
  }

  .page-wrap-3laa .text-container {
      width: 100%; /* Full width for smaller screens */
      max-height: 75%;
      margin-right: 0;
      margin-bottom: 20px; /* Space between text and video */
      overflow: hidden;
  }

  .page-wrap-3laa .banner-container {
      width: 60%; /* Full width for smaller screens */
  }
}


/*----------------------------------cards------------------------*/
.Abo-3laa-card body{
  margin: 0;
  padding: 100px 0px;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Abo-3laa-card h1{
  text-align: center;
  color: #1785eb;
  font-size: 45px;
  padding-bottom: 40px;
}

.cards-in-row{
  display: flex;
  align-items: stretch; /* Ensure all items stretch to the same height */
  justify-content: center;
  width: 100%;
  min-height: 300px;
  margin: auto;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.Abo-3laa-card .card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team{
  background: #ecf7ed;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 30px 0px 40px;
  margin: 0px 20px;
  width: 21%;;
}

.our-team .pic{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  z-index: 1;
  position: relative;
}

.our-team .pic img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .pic img{
  box-shadow: 0 0 0 14px #fff;
  transform: scale(0.7);
}

.our-team .pic::before{
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background: #eb17a4;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.2;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .pic::before{
  height: 100%;
}

.our-team .pic::after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #1785eb;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .team-content{
  margin-bottom: 30px;
}

.our-team .title{
  font-size: 22px;
  font-weight: 700;
  color: #4e5052;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.our-team .post{
  display: block;
  font-size: 15px;
  color: #4e5052;
}

.our-team .social{
  width: 100%;
  padding: 0;
  margin: 0;
  background: #1785eb;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social{
  bottom: 0;
}

.our-team .social li{
  display: inline-block;
}

.our-team .social li a{
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.our-team .social li a:hover{
  color: #1785eb;
  background: #f7f5ec;
}

@media(max-width: 1024px){
  .Abo-3laa-card .card-container{
      align-items: center;
      flex-direction: column;
  }
  .our-team{
      width: 80%;
      margin-top: 30px;
  }
}