/* Base Styling for the side navigation */
.sidenav {
  height: 400px;
  width: 172px;
  position: fixed;
  top: 50%; /* Center the sidenav vertically at 35% from the top */
  right: 0;
  background-color: #17314e;
  transform: translateY(-50%);
  text-align: center;
  padding-bottom: 20px;
  z-index: 10000;
  border-radius: 10px 0 0 10px;
  overflow-x: visible;
  transition: width 0.3s ease, right 0.3s ease; /* Transition for width and right positioning */
  box-shadow: 0 0 82px rgb(97, 97, 97);
}

.sidenav.open {
  width: 172px; /* Adjust based on screen size */
  padding-bottom: 20px;
}

.sidenav h1 {
  font-weight: 600 !important;
  font-size: 26px !important;
  border-radius: 10px 0 0 0;
  margin-top: -1px;
  margin-bottom: 15px;
  padding: 20px 10px;
  color: #f1f1f1;
  background-color: #fbae17;
}

.sidenav a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
  transition: all 0.2s;
  transform-origin: right;
}

.sidenav a:hover {
  background-color: #fbae17;
  color: white;
  border-radius: 10px 0 0 10px;
  transform: scale(1.2);
  padding: 12px 15px;
}

.main-content {
  display: flex;
  margin-right: 250px;
  padding: 20px;
  align-items: center;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.nav-link.active {
  color: #fbae17;
}


.sidenav-toggle {
  display: none;
  position: fixed;
  top: 35%;
  right: 0;
  background-color: #17314e;
  color: #f1f1f1;
  border: none;
  font-size: 30px;
  padding: 8px;
  border-radius: 4px;
  z-index: 9999; /* Ensure it’s below the sidenav */
  cursor: pointer;
  transform: translateY(-50%);
  transition: right 0.3s ease, transform 0.3s ease; /* Transition for right and transform */
}

/* When sidenav is open, move the button to align with the sidenav */
.sidenav.open ~ .sidenav-toggle {
  right: 140px; /* Adjust based on sidenav width */
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .sidenav {
    width: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: none;
  }

  .sidenav.open {
    width: 172px;
    padding-bottom: 20px;
  }

  .sidenav h1 {
    display: none;
  }

  .sidenav.open h1 {
    display: block;
    font-size: 26px !important;
    margin-bottom: 15px;
    padding: 20px 10px;
  }

  .sidenav a {
    padding: 0;
    font-size: 0;
    opacity: 0;
  }

  .sidenav.open a {
    padding: 15px 25px;
    font-size: 18px;
    opacity: 1;
  }

  .main-content {
    margin-right: 0;
    padding: 15px;
  }

  .sidenav-toggle {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .sidenav.open {
    width: 140px;
    padding-bottom: 10px;
    top: 35%;
    height: auto;
  }

  .sidenav.open h1 {
    font-size: 17px !important;
  }

  .sidenav.open a {
    font-size: 14px;
  }

  .main-content {
    padding: 10px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 16px;
  }
}
