/* Base Styling for the side navigation */
.sidenav {
  height: 400px;
  width: 172px;
  position: fixed;
  top: 50%;
  right: 0;
  background-color: #17314e;
  transform: translateY(-50%);
  text-align: center;
  padding-bottom: 20px;
  z-index: 10000;
  border-radius: 10px 0px 0 10px;
  overflow-x: visible;
  transition: 0.3s;
  box-shadow: 0px 0px 82px rgb(97 97 97);
}

.sidenav h1 {
  font-weight: 600 !important;
  font-size: 26px !important;
  border-radius: 10px 0px 0px 0px;
  margin-top: -1px;
  margin-left: 0px;
  margin-bottom: 15px;
  padding: 20px 10px;
  color: #f1f1f1;
  background-color: #fbae17;
}

.sidenav a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
  transition: all 0.2s;
  transform-origin: right;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.sidenav a:hover {
  background-color: #fbae17;
  color: white;
  border-radius: 10px 0 0 10px;
  transform: scale(1.2);
  padding: 12px 15px;
}

.main-content {
  display: flex;
  margin-right: 250px;
  padding: 20px;
  align-items: center;
  vertical-align: middle;
  align-content: center;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.nav-link.active {
  color: #fbae17;
}

/* Toggle Button Styling */
.sidenav-toggle {
  display: none;
  position: fixed;
  top: 50%;
  right: -5px;
  background-color: #17314e;
  color: #f1f1f1;
  border: none;
  font-size: 30px;

  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
  border-radius: 5px;
  z-index: 10001;
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: width 0.3s ease, padding 0.3s ease;
  }

  .sidenav.open {
    width: 172px;
    padding-bottom: 20px;
  }

  .sidenav h1 {
    display: none;
  }

  .sidenav.open h1 {
    display: block;
    font-size: 26px !important;
    margin-bottom: 15px;
    padding: 20px 10px;
  }

  .sidenav a {
    padding: 0;
    font-size: 0;
    opacity: 0;
  }

  .sidenav.open a {
    padding: 15px 25px;
    font-size: 18px;
    opacity: 1;
  }

  .main-content {
    margin-right: 0;
    padding: 15px;
  }

  .sidenav-toggle {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .sidenav {
    width: 0;
    height: 320px;
    padding: 0;
    overflow: hidden;
    transition: width 0.3s ease, padding 0.3s ease;
    -webkit-transition: width 0.3s ease, padding 0.3s ease;
    -moz-transition: width 0.3s ease, padding 0.3s ease;
    -ms-transition: width 0.3s ease, padding 0.3s ease;
    -o-transition: width 0.3s ease, padding 0.3s ease;
  }

  .sidenav.open {
    width: 152px;
    padding-bottom: 10px;
    height: 320px;
  }

  .sidenav h1 {
    display: none;
  }

  .sidenav.open h1 {
    display: block;
    font-size: 17px !important;
    margin-bottom: 15px;
    padding: 20px 10px;
  }

  .sidenav a {
    padding: 0;
    font-size: 0;
    opacity: 0;
  }

  .sidenav.open a {
    padding: 15px 25px;
    font-size: 14px;
    opacity: 1;
  }

  .main-content {
    margin-right: 0;
    padding: 10px;
    flex-direction: column;
  }

  .sidenav-toggle {
    display: block;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 16px;
  }
}
